<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>My Blog Application</title>
</head>
<body>
<div class="container">
    <h1>My Blog Application</h1>
    <hr>

    <a th:href="@{/newpost}">
        Create new blog
    </a>
    <div class="post-list">
        <div class="post-container" th:each="post : ${posts}">
            <h2 th:text="${post.title}"></h2>
            <p>Author: <span th:text="${post.author}"></span></p>
            <p>Published Date: <span th:text="${post.published_at}"></span></p>
            <p th:text="${post.content}"></p>
        </div>
    </div>


        <tbody>
        <tr th:each="tempBlog : ${posts}" th:field="tempEmployee">
            <td th:text="${tempBlog.title}" />
            <td th:text="${tempBlog.excerpt}" />
            <td th:text="${tempBlog.author}" />
            <td th:text="${tempBlog.publishedAt}" />
            <td th:text="${tempBlog.tags}" />
            <td><a th:href="@{/showFormToUpdate(postId=${tempBlog.id})}">
                Update
            </a></td>
            <td><a th:href="@{/deletePost(postId=${tempBlog.id})}">
                Delete
            </a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>