<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<h2>Login</h2>
<form action="#" th:action="@{/authenticateTheUser}" method="POST" >
    <div th:if="${param.error}">
        <i style="color: red">You entered invalid username/password</i>
    </div>
    <div th:if="${param.logout}">
        <i style="color: aquamarine">You have been logged out</i>
    </div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"  required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password"  required><br><br>

    <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="/register">Create Account</a></p>
</body>
</html>